// ::::: Fonts :::::
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

// ::::: Fonts-family :::::
$font-montserrat: "Montserrat", sans-serif;
$font-open-sans: "Open Sans", sans-serif;

// ::::: Fonts size :::::
$small-font-size: 12px;
$medium-font-size: 14px;
$normal-font-size: 18px;
$bigger-font-size: 21px;
$large-font-size: 24px;
$extra-lagre-font-size: 30px;

// ::::: Colors :::::
$color-white: #ffffff;
$color-black: #000000;
$color-dark-grey: #bebebe;
$color-light-grey: #ededed;
$color-gold: #b88b58;
$color-twitter: #00aced;
$color-linkedIn: #117bb3;
$color-facebook: #3b5998;
$color-google: #da2713;
$color-pinterest: #cb2028;
$color-light: #fefefe;
