.menu-rounded {
  margin-bottom: 25px;
  background-color: $color-light-grey;
  font-size: $medium-font-size;
  font-weight: 300;
  color: $color-black;
  text-transform: uppercase;
  border: 1px solid $color-dark-grey;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
    margin: 0;
    padding: 0 30px;
    line-height: 45px;
    display: inline-block;
    border-left: 1px solid $color-dark-grey;
    vertical-align: middle;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &:before {
      content: "";
      height: 4px;
      background-color: $color-gold;
      position: absolute;
      left: 51%;
      right: 51%;
      bottom: 0;
      transition-property: left, right;
      transition-duration: .3s;
      transition-timing-function: ease-out;
    }

    &:last-child {
      padding: 0 20px 0 25px;
    }

    &--first {
      padding: 0 25px 0 20px;
      border-left: none;
    }

    &:hover:before {
      left: 0;
      right: 0;
    }
  }
}

@media (max-width: 992px) {
  .menu-rounded {
    height: auto;
    display: block;
    text-align: center;
    border-bottom: none;
    border-radius: 0;

    &__item {
      display: block;
      border-left: none;
      border-bottom: 3px solid $color-dark-grey;
    }
  }
}
