.hamburger {
  margin: 0;
  padding: 10px;
  background-color: transparent;
  display: none;
  border: 0;
  position: absolute;
  top: 3px;
  right: 6px;
  outline: none;
  cursor: pointer;
}

.hamburger__box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  @include hamburger-line;

  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: background-color .1s .2s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
  @include hamburger-line;

  content: "";
  left: 0;
  transition: transform .2s .2s ease-in-out;
}

.hamburger__inner::before {
  top: -10px;
}

.hamburger__inner::after {
  top: 10px;
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__inner:before {
  transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner:after {
  transform: translateY(-10px) rotate(-45deg);
}

.navigation__list--active {
  display: flex;
  flex-direction: column;
}

@media (max-width: 992px) { 
  .hamburger {
    display: inline-block;
  }
}
