.social__media {
  margin: 45px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .active {
    background-color: $color-gold;
  }

  &--item {
    margin: 5px;
    padding: 8px;
    width: 33px;
    height: 33px;
    background-color: $color-dark-grey;
    color: $color-white;
    text-decoration: none;
    border-radius: 50%;

    &:hover {
      background-color: $color-gold;
    }
  }

  &--no-margin {
    margin: 0 35px 0 3px;
  }

  &--twitter {
    background-color: $color-twitter;

    &:hover {
      background-color: $color-black;
    }
  }

  &--linkedIn {
    background-color: $color-linkedIn;

    &:hover {
      background-color: $color-black;
    }
  }

  &--facebook {
    background-color: $color-facebook;

    &:hover {
      background-color: $color-black;
    }
  }

  &--google {
    background-color: $color-google;

    &:hover {
      background-color: $color-black;
    }
  }

  &--pinterest {
    background-color: $color-pinterest;

    &:hover {
      background-color: $color-black;
    }
  }
}