.section {
  padding: 40px 40px 50px;

  &--black {
    background-color: $color-black;
  }

  &--white {
    background-color: $color-white;
  }

  &--grey {
    background-color: $color-light-grey;
  }

  &--border {
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
  }

  &__share {
    padding: 15px;
  }

  &__header {
    margin-bottom: 10px;
    font-size: $extra-lagre-font-size;
    font-weight: 600;
    text-transform: uppercase;

    &--black {
      color: $color-black;
    }

    &--white {
      color: $color-white;
    }

    &--normal {
      margin: 25px 25px 0;
      font-size: $normal-font-size;
    }
  }

  &__header--paragraph {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: $medium-font-size;
    font-weight: 600;
    color: $color-dark-grey;
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &--border-bottom {
      border-bottom: 1px solid $color-dark-grey;
    }

    &--left {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &--top {
      display: flex;
      align-items: flex-start;
    }

    &--stretch {
      padding: 10px 0;
      justify-content: space-between;
    }
  }

  &__paragraph {
    font-size: $medium-font-size;
    font-weight: 300;
    color: $color-dark-grey;

    &--black {
      color: $color-black;
    }

    &--dark {
      color: #7e7e7e;
    }

    &--gold {
      margin-top: 15px;
      font-size: 48px;
      font-weight: 700;
      color: $color-gold;

      &::after {
        margin: 8px auto;
        width: 22px;
        height: 4px;
        content: "";
        background-color: #7e7e7e;
        display: block;
      }
    }

    &--numbers {
      margin: 8px 0 0;
    }

    &--margin-left {
      margin-left: 10px;
      text-align: left;
    }

    &--margin-bottom {
      margin-bottom: 30px;
    }

    &--left {
      margin: 0 30px;
      text-align: left;
      line-height: 25px;
    }

    &--footer {
      margin-top: 0;
      text-align: left;
      line-height: 20px;
    }

    &--description {
      margin-bottom: 12px;
      font-size: $small-font-size;
      font-weight: 400;
      color: #7e7e7e;

      &::after {
        margin: 8px auto;
        width: 12px;
        height: 1px;
        content: "";
        background-color: #7e7e7e;
        display: block;
      }
    }

    &--tell {
      margin: 0 16px;
      font-weight: 600;
      color: #aeaeae;
      text-transform: uppercase;
    }

    &--medium {
      margin: 0;
      font-size: $medium-font-size;
      color: $color-black;
      text-transform: uppercase;
    }

    &--small {
      margin: 0 0 24px;
      font-size: $small-font-size;
      color: #aeaeae;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    &--price {
      margin: 15px 0 5px;
      font-size: $extra-lagre-font-size;
      font-weight: 700;
      color: $color-black;
    }
  }

  &__tab {
    padding: 15px;

    &--line {
      border-left: 1px solid $color-dark-grey;

      &:last-child {
        border-right: 1px solid $color-dark-grey;
      }
    }

    &--dark {
      margin-top: 18px;
      padding: 35px 30px 0;
      background-color: #373737;
      border-radius: 5px;
    }

    &--margin {
      padding: 35px 15px 20px;
      background-color: $color-white;
      border-radius: 6px;
    }

    &--member {
      padding: 45px 20px 20px;
      background-color: $color-white;
      border-radius: 4px;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }

  &__map {
    background-image: url(../images/map.png);
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: 992px) {
  .section {
    padding: 20px 10px;

    &__header {
      font-size: $large-font-size;
    }

    &__content--left {
      display: flex;
      justify-content: center;
    }

    &__paragraph--left {
      text-align: center;
    }

    &__tab {
      padding: 20px 8px;
      border-left: none;
      border-bottom: 1px solid $color-dark-grey;

      &:last-child {
        border: none;
      }
    }
  }
}
