.section {
  padding: 40px 40px 50px;

  &__header {
    margin-bottom: 10px;
    font-size: $extra-lagre-font-size;
    font-weight: 600;
    text-transform: uppercase;

    &--black {
      color: $color-black;
    }

    &--white {
      color: $color-white;
    }
  }

  &__header--paragraph {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: $medium-font-size;
    font-weight: 600;
    color: $color-dark-grey;
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &--left {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &__paragraph {
    font-size: $medium-font-size;
    font-weight: 300;
    color: #242424;

    &--black {
      color: $color-black;
    }

    &--left {
      margin: 0 30px;
      text-align: left;
      line-height: 25px;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 992px) {
  .section {
    padding: 20px 10px;

    &__content--left {
      display: flex;
      justify-content: center;
    }

    &__paragraph--left {
      text-align: center;
    }
  }
}
